
{% extends 'Navbar.html' %}
{% block title %}Føødies{% endblock %}
{% block content %}

    <div id='text1'>
      <h2>support<br/>your local<br>føødbuddies.</h2>
    </div>

    <div id='login'>
      <h2>Login</h2>
      <h3>Username</h3>
      <input/>
      <h3>Password</h3>
      <input/>
      <br/>
      <button>login</button>
    </div>
    <div id='register'>
      <h2>New to the Party?</h2>
      <h3>Username</h3>
      <input/>
      <h3>Password</h3>
      <input/>
      <h3>Repeat Password</h3>
      <input/>
      <br/>
      <button>register</button>
    </div>
    <footer>
      <ul>
        <li>Datenschutz</li>
        <li>Impressum</li>
      </ul>
    </footer>
 {% endblock %}