
{% extends 'Navbar.html' %}
{% block title %}Føødies{% endblock %}
{% block content %}

    <div id='text1'>
      <h2>support<br/>your local<br>føødbuddies.</h2>
    </div>
    <div id='mainImg'>
      <img src="{% static 'media/food500px.jpeg' %}" alt="Focaccia"/>
    </div>
    <div id="text2">
        <h2>What is foodsharing?</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
            eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
            takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
        <p>
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
            vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
            qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
            illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim olor
            sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
            justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam
            diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita
            ea et gubergren, kasd magna no rebum. sanctus sea sed takimata ut vero voluptua. est Lorem ipsum
            dolor sit amet. Lorem ipsum dolor sit amet, consetetur
        </p>
        <button>Join now</button>
        <button>login</button>
    </div>
    <div id='login'>
      <h2>Login</h2>
      <h3>Username</h3>
      <input/>
      <h3>Password</h3>
      <input/>
      <br/>
      <button>login</button>
    </div>
    <div id='register'>
      <h2>New to the Party?</h2>
      <h3>Username</h3>
      <input/>
      <h3>Password</h3>
      <input/>
      <h3>Repeat Password</h3>
      <input/>
      <br/>
      <button>register</button>
    </div>
    <footer>
      <ul>
        <li>Datenschutz</li>
        <li>Impressum</li>
      </ul>
    </footer>
 {% endblock %}
