<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Føødies {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'styling/index.css' %}"/>
</head>
<body>
<main>
    <div id="label">
        <h1>føødies</h1>
    </div>
    <nav>
    <ul>
        <li><a href="{% url 'homepage' %}">Høme</a></li>
     {% if user.is_authenticated %}
         <li><a href="{% url 'profile' %}">Prøfile</a></li>
         <li><a href = "{% url 'logout' %}">Løgøut</a></li>
    {% else %}
         <li><a href = "{% url 'login' %}">Løgin</a></li>
         <li><a href = "{% url 'register_url' %}" >Register</a></li>
    {% endif %}
    </ul>
    </nav>

{% block content %}{% endblock %}
{% block additional_scripts %}{% endblock %}
<div id="footerBackground">
 <footer>
            <ul>
                <li><a href="https://www.hs-augsburg.de/Service/Datenschutz.html">Datenschutz</a></li>
                <li><a href="https://www.hs-augsburg.de/Service/Impressum.html">Impressum</a></li>
            </ul>
        </footer>
</div>

</main>

    <script src="{% static 'styling/script.js' %}"></script>
</body>
</html>
