* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECECEC;
    font-family: 'Apercu', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

h2 {
    font-size: 40px;
    margin-bottom: 25px;
}


/* Header (Footer) */


#label {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;

    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 20px;
}

nav {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;

    margin-right: 20px;
    font-size: 18px;
}

nav ul {
    text-align: right;
}

ul li {
    display: inline-block;
    list-style-type: none;

    margin-left: 20px;
}

footer {
    grid-column: 1/4;
    grid-row: 7/8;
    justify-self: start;

    padding: 40px;
    font-size: 18px;
    color: #ECECEC;
}

footer li {
    margin-right: 30px;
}

footer a {
    color: #ECECEC;
    text-decoration: none;
}

#footerBackground {
    grid-column: 1/4;
    grid-row: 7/8;
    justify-self: stretch;
    align-self: stretch;

    background-color: black;
}

/* main */

.text1 {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: start;

    margin: 100px;
}

.text1 h2 {
    font-size: 50px;
}

.mainImg {
    grid-column: 1/4;
    grid-row: 3/4;

    margin-bottom: 50px;
}

.mainImg img {
    max-height: 500px;
    width: 100%
}

.text2 {
    align-items: center;
    background-color: #212520;
    color: #ECECEC;
    grid-column: 1/4;
    grid-row: 4/5;
    margin: 30px;
    padding: 20px;
}

.text2 p {
    margin: 20px;
    padding-bottom: 5px;
    padding-top: 40px;
}


/* Login, Logout, Register */

input {
    font-family: inherit;
    height: 20px;
    width: 200px;
    padding: 5px;
    margin: 20px;
    border-radius: 4px;
}

label {
    font-size: 22px;
    margin-bottom: 25px;
}

button {
    font-family: inherit;
    font-size: 18px;
    border-radius: 4px;
    padding: 6px 15px;
    margin: 20px;
    min-height: 40px;
}

button:hover, #delete:hover{
    font-weight: bold;
}

.formula {
    grid-column: 2/3;
    grid-row: 5/6;

    text-align: center;
    padding: 150px;
}

.formula ul {
    display: none;

    margin: 10px -50px 25px -50px;
}

#id_description {
    margin: 20px;
}

form {
    text-align: center;
}

.helptext {
    display: none;
}

#file-upload-button {
    font-family: inherit;
}

/* feed */

.container {
    grid-column: 1/4;
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-content: center;
}

.img {
    height: 400px;
    width: 400px;
    margin: 40px;
    background-color: white;
    text-align: center;
}

.img img {
    max-height: 300px;
    max-width: 300px;
    margin: 5px;
}

.avatar img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.avatar {
    text-align: start;
}

.description {
    display: none;

    position: relative;
    top: -100px;
}

/* profile */

#profilePicture {
    max-height: 400px;
    max-width: 400px;
}

.profile {
    grid-column: 1/2;
    grid-row: 2/3;

    margin-left: 100px;
}

.upload{
    grid-column: 3/4;
    grid-row: 2/3;

    text-align: center;
    padding: 150px;
    margin-right: 100px;
}

.upload h2 {
    margin: 10px;
}

textarea {
    font-family: inherit;
}

#delete {
    height: 35px;
    width: 100px;
}

.profile h2 {
    font-size: 40px;
}

.profile h3 {
    padding: 20px 0;
    font-size: 30px;
}
