* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECECEC;
    font-family: 'Apercu', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

h2 {
    font-size: 40px;
    margin-bottom: 25px;
}

/* Header (Footer) */


#label {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;

    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-top: 20px;
}

nav {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;

    margin-right: 20px;
    font-size: 18px;
}

nav ul {
    text-align: right;
}

ul li {
    display: inline-block;
    list-style-type: none;

    margin-left: 15px;
}

footer {
    grid-column: 1/4;
    grid-row: 7/8;
    justify-self: start;

    padding: 50px;
    font-size: 18px;
    color: #ECECEC;
}

footer li {
    margin-right: 30px;
}

#footerBackground {
    grid-column: 1/4;
    grid-row: 7/8;
    justify-self: stretch;
    align-self: stretch;
    padding: 50px;

    background-color: black;
}

/* main */

.text1 {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: start;

    margin: 100px;
}

.text1 h2 {
    font-size: 60px;
}

.mainImg {
    grid-column: 1/4;
    grid-row: 3/4;

    margin-bottom: 50px;
}

#mainImg img {
    max-height: 500px;
}

#text2 {
    grid-column: 1/4;
    grid-row: 4/5;
    margin: 30px;
}

/* Login, Logout, Register */

input {
    font-family: inherit;
    height: 20px;
    width: 200px;
    padding: 5px;
    margin: 20px;
    border-radius: 4px;
}

label {
    font-size: 22px;
    margin-bottom: 25px;
}

button {
    font-family: inherit;
    font-size: 18px;
    border-radius: 4px;
    padding: 6px 15px;
    margin: 20px;
}

button:hover {
    font-weight: bold;
}

#login {
    grid-column: 2/3;
    grid-row: 5/6;

    text-align: center;
    padding: 150px;
}

#register {
    grid-column: 2/3;
    grid-row: 6/7;

    text-align: center;
    padding: 150px;
}

#register ul {
    display: none;
}

form {
    text-align: center;
}

.helptext {
    display: none;
}

/* feed */

#container {
    grid-column: 1/4;
    display: flex;
    flex-flow: row wrap;
}

.img {
    height: 400px;
    width: 400px;
    margin: 40px;
    background-color: lightsalmon;
}
